body {
  padding-top: 5%;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-family: Outfit;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 15px;
  color:hsl(220, 15%, 55%);
}

.card {
width: 300px;
height: 450px;
margin: auto;
border-radius: 5%;
}

.card-image img {
  border-radius: 10%;
  padding:5% 5% 0 5%;
  width: 100%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
